[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/STL-Syntax"]
	path = bundle/STL-Syntax
	url = https://github.com/Mizuchi/STL-Syntax
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "bundle/neomru.vim"]
	path = bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim
[submodule "bundle/neosnippet-snippets"]
	path = bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/tagbar-phpctags.vim"]
	path = bundle/tagbar-phpctags.vim
	url = https://github.com/vim-php/tagbar-phpctags.vim
[submodule "bundle/taghighlight"]
	path = bundle/taghighlight
	url = https://github.com/abudden/taghighlight-automirror
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "bundle/vim-indexed-search"]
	path = bundle/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "bundle/vim-togglemouse"]
	path = bundle/vim-togglemouse
	url = https://github.com/nvie/vim-togglemouse
[submodule "bundle/vim-togglenumber"]
	path = bundle/vim-togglenumber
	url = https://github.com/tkhoa2711/vim-togglenumber
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vimshell.vim"]
	path = bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = https://github.com/aperezdc/vim-template
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "bundle/vim-clang"]
	path = bundle/vim-clang
	url = https://github.com/justmao945/vim-clang
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/accelerated-smooth-scroll"]
	path = bundle/accelerated-smooth-scroll
	url = https://github.com/yonchu/accelerated-smooth-scroll
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta
[submodule "bundle/hexmode"]
	path = bundle/hexmode
	url = https://github.com/fidian/hexmode
[submodule "bundle/vim-extradite"]
	path = bundle/vim-extradite
	url = https://github.com/ketor/vim-extradite
[submodule "bundle/YankRing.vim"]
	path = bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "bundle/vim-operator-user"]
	path = bundle/vim-operator-user
	url = https://github.com/kana/vim-operator-user
[submodule "bundle/incsearch.vim"]
	path = bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "bundle/ctrlsf.vim"]
	path = bundle/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim
[submodule "bundle/incsearch-easymotion.vim"]
	path = bundle/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim
[submodule "bundle/incsearch-fuzzy.vim"]
	path = bundle/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim
[submodule "bundle/vim-plist"]
	path = bundle/vim-plist
	url = https://github.com/darfink/vim-plist
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "bundle/vim-exchange"]
	path = bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
